<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.holdingscythe.pocketamcreader"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ImportActivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.MovieListActivity"
            android:theme="@style/AppTheme.SemiActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.MovieListActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.MovieListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.MovieListActivity"/>
        </activity>
        <activity
            android:name=".PictureViewActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.MovieDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.MovieDetailActivity"/>
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
