<?xml version="1.0" encoding="utf-8"?>

<!--
This file is part of Pocket AMC Reader.
Copyright © 2010-2017 Elman <holdingscythe@zoznam.sk>

Pocket AMC Reader is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pocket AMC Reader is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pocket AMC Reader.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest
    package="com.holdingscythe.pocketamcreader"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ImportActivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.MovieListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.MovieListActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.MovieListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.MovieListActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsFilePickerActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.settings.SettingsActivity"
            android:theme="@style/FilePickerTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.settings.SettingsActivity"/>
        </activity>
        <activity
            android:name=".settings.SettingsListFieldsActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.settings.SettingsActivity"/>
        </activity>
        <activity
            android:name=".PictureViewActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.holdingscythe.pocketamcreader.MovieDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.holdingscythe.pocketamcreader.MovieDetailActivity"/>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.holdingscythe.pocketamcreader.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/nnf_provider_paths"/>
        </provider>
        <provider
            android:name=".catalog.MoviesDataProvider"
            android:authorities="com.holdingscythe.pocketamcreader.provider"
            android:exported="false">
        </provider>
    </application>

</manifest>
